/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin:0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
    height: 100%;
    min-width: 321px; 
    width: 100%;
    margin: 0;
    background-color: lightsteelblue;
}

/*my css starts here*/

.jumbotron {
    padding-top: 1em;
    padding-bottom: 2em;
    max-height: 30em;
    margin-bottom: 0;
    background-image: url("./images/radiant-gradient.svg");
    background-repeat: no-repeat;
    background-size: cover;
}


#container-one{
    background-color: lightsteelblue;
}
#simpleTodo {
    font-family: 'Lobster', cursive;
}

#titleDiv{
    margin-top: 0 !important;
    margin-bottom: 1em !important;
    color: papayawhip;
    text-shadow: 3px 3px 8px maroon;
    opacity: 0.95;
}

#taskTitle {
    font-family: 'Oswald', sans-serif;
    text-shadow: 1px 1px 2px wheat;
}

footer {
    font-size: 14px;
    color: white;
    background-color: #343a40;
    opacity: 0.5;
    padding-bottom: 5px;
}

#dateAndTime{
    width: 12em;
    margin-top: 0;
}

#dateAndTime {
    color: ghostwhite;
    width: fit-content;
    margin: auto;
    background-color:DarkSlateBlue;
    border: 2px inset darkgrey;
    font-family: 'Press Start 2P', cursive;
    font-size:0.8rem;
}
#dateAndTime:hover{
    transform: scale(1.1);
    background-color: black;
    color: lime;
}

#dateContainer, #clockContainer,#timezoneContainer {
    display: flex;
    margin: 10px;
}

#addBtn{
    border-width: thick !important;
    background-color: palevioletred;
    font-family: 'Oswald', sans-serif;
}
#addBtn:hover{
    background-color: wheat;
    transform: scale(1.1);
}
.formPara {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 0;
}

#cardsContainer{ 
 background-color:LightSteelBlue;
}

#post-it-note-wrapper:hover{
    transform: scale(1.05);
}

#todo{
    padding-bottom: 20px;
}

#card-content-wrapper{
    padding:1em;
}

.filler{
    margin:0;
    background-color: lightsteelblue;
    height: calc(100% - 100px);
}


.errorMsg {
    font-size: 0.9em;
    font-style: italic;
    font-weight: bold;
    color: red;
    display: none;
}

#Github-link{
    display: flex;
    justify-content: center;
}