
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }

/*my css starts here*/
#simpleTodo{
    font-family: 'Lobster', cursive;
}

#formTitle,#taskTitle{
    font-family: 'Oswald', sans-serif;
}

footer{
    font-size: 30px;
    color:white;
    background-color:#343a40;
    opacity: 0.5;
}

